<% layout('layouts/boilerplate') %>
<style>
  .display-3{
    font-family: "DM Serif Display", serif;
    font-size: 60px;
  }

  .lead{
    font-family: "DM Serif Display", serif;
    font-size: 50px;
  }
  .btn{
    font-family: "DM Serif Display", serif;
  }

</style>
<div class="container text-center mt-5">
    <br>
  <h1 class="display-3 text-danger" style="margin-top: 10px;"><%= statusCode %></h1>
  <p class="lead"><%= message %></p>
  <a href="/" class="btn btn-primary mt-3" style="margin-bottom: 20px;background-color: #F5EEDD; border: none;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;color: #06202B;">Back to Home</a>

</div>
<br><br>

